body {
    min-height: 75rem;
    padding-top: 4.5rem;
    background: rgb(201,204,215) !important;
    background: radial-gradient(circle, rgba(201,204,215,1) 0%, rgba(47,47,47,1) 100%) !important;
}

.calculadora {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#primeiraPergunta {
    background-color: white;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.3);
    background-color: #ededed;
}


#segundaPergunta {
    background-color: white;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.3);
    background-color: #ededed;
}

#terceiraPergunta {
    background-color: white;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.3);
    background-color: #ededed;
}

#segundaDiv {
    background-color: white;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.3);
    background-color: #ededed;
}

#imagem {
    height: 50px;
    border-radius: 50%; 
  }

.card1 {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.card1.selected {
    border-color: blue;
}

.card2 {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.card2.selected {
    border-color: blue;
}

#headerFixa {
    background-color: rgb(41 40 40);
}

input[type=range]::-webkit-slider-thumb {
    background-color: #0d6efd;
}

input[type=range]::-moz-range-thumb {
    background-color: #0d6efd;
}

input[type=range]::-ms-thumb {
    background-color: #0d6efd;
}

#titulo {
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 700;
    color: whitesmoke;
}
